[defaults]
inventory = inventories/example/hosts.yml
roles_path = roles
local_tmp = .cache/ansible/tmp
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
nocows = True
collections_path = .cache/ansible/collections

[privilege_escalation]
become = False
